/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: serif;
}

@media (max-width: 759px) {
  .br_sp {
    display: inline;
  }
}
@media (min-width: 760px) {
  .br_sp {
    display: none;
  }
}

.l-footer {
  background-color: #4f3f32;
  color: #fff;
  position: relative;
}
@media (max-width: 759px) {
  .l-footer {
    height: 20.5333333333vw;
    padding: 9.3333333333vw 0;
  }
}
@media (min-width: 760px) {
  .l-footer {
    height: 16vw;
    position: relative;
  }
}
.l-footer .copyright {
  text-align: center;
}
@media (max-width: 759px) {
  .l-footer .copyright {
    font-size: 1.6vw;
  }
}
@media (min-width: 760px) {
  .l-footer .copyright {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 0.8333333333vw;
    transform: translateY(-50%);
  }
}

.l-header {
  width: 100%;
}
@media (max-width: 759px) {
  .l-header {
    height: 61.3333333333vw;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_container {
    display: flex;
  }
}
@media (max-width: 759px) {
  .l-header .l-header_first {
    display: flex;
    background-color: #fff;
    height: 12.2666666667vw;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_first {
    background-color: #eae7df;
    height: 42.6666666667vw;
    width: 20%;
  }
}
@media (max-width: 759px) {
  .l-header .l-header_first_primary {
    flex-grow: 7.15;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_first_primary {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.l-header .l-header_first_h1 {
  text-align: center;
}
@media (max-width: 759px) {
  .l-header .l-header_first_h1 {
    margin-top: 4vw;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_first_h1 {
    position: absolute;
    top: 50%;
    width: 100%;
  }
}
@media (max-width: 759px) {
  .l-header .l-header_first_logo {
    width: 40.5333333333vw;
    height: 4vw;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_first_logo {
    height: 0.9166666667vw;
    width: 10.0833333333vw;
  }
}
.l-header .l-header_first_secondary {
  flex-grow: 1;
}
@media (max-width: 759px) {
  .l-header .l-header_first_secondary_ham {
    background-color: #4f3f32;
    cursor: pointer;
    height: 12.2666666667vw;
    position: relative;
    width: 12.2666666667vw;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_first_secondary_ham {
    display: none;
  }
}
.l-header .l-header_first_secondary_ham .hamLine {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  width: 7.4666666667vw;
  height: 0.5333333333vw;
  left: 2.4vw;
  transition: all 0.3s;
}
.l-header .l-header_first_secondary_ham .hamLine1 {
  top: 4vw;
}
.l-header .l-header_first_secondary_ham .hamLine2 {
  top: 5.8666666667vw;
}
.l-header .l-header_first_secondary_ham .hamLine3 {
  top: 7.7333333333vw;
}
.l-header .l-header_first_secondary_ham .active.hamLine1 {
  transform: rotate(27deg);
  transform-origin: left;
  width: 8.2666666667vw;
}
.l-header .l-header_first_secondary_ham .hamLine2.active {
  width: 0;
  transform-origin: left;
}
.l-header .l-header_first_secondary_ham .active.hamLine3 {
  transform: rotate(-27deg);
  transform-origin: left;
  width: 8.2666666667vw;
}
.l-header .l-header_second {
  background-image: url(../images/pic01.jpg);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
@media (max-width: 759px) {
  .l-header .l-header_second {
    background-position: center 0;
    background-size: 115%;
    height: 49.0666666667vw;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_second {
    background-position: 100% 0;
    background-size: 125%;
    width: 80%;
    height: 42.5833333333vw;
  }
}
.l-header .l-header_second_title {
  color: #fff;
  position: absolute;
  width: 100%;
}
@media (max-width: 759px) {
  .l-header .l-header_second_title {
    font-size: 5.3333333333vw;
    left: 50%;
    line-height: 7.4666666667vw;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 760px) {
  .l-header .l-header_second_title {
    font-size: 2.9166666667vw;
    text-align: left;
    line-height: 4vw;
    top: 65.5%;
    left: 7%;
    width: 50%;
  }
}
@media (max-width: 759px) {
  .l-header .l-header_nav_pc {
    display: none;
  }
}
@media (min-width: 760px) {
  .l-header .l-header_nav_pc {
    display: block;
  }
}
.l-header .l-header_nav_pc_ul {
  display: flex;
  justify-content: space-between;
  background-color: #eeeff0;
}

.l-contact {
  text-align: center;
}
@media (max-width: 759px) {
  .l-contact {
    padding: 4.4vw 0 12vw;
  }
}
@media (min-width: 760px) {
  .l-contact {
    padding: 5.8333333333vw 0 11.1666666667vw;
  }
}

@media (max-width: 759px) {
  .l-contents {
    padding: 6.1333333333vw;
  }
}
@media (min-width: 760px) {
  .l-contents_flexbox {
    display: flex;
  }
}

@media (min-width: 760px) {
  .c-sitemap_listItem {
    display: inline-block;
    font-size: 1vw;
    border-bottom: solid 0.0833333333vw #a6a6a6;
    position: relative;
  }
  .c-sitemap_listItem::before {
    content: "";
    background-image: url(../images/arrow03.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    width: 0.5833333333vw;
    height: 100%;
    height: 0.5vw;
    margin-right: 0.5vw;
    position: absolute;
    top: 50%;
    left: -0.5vw;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 759px) {
  .c-button {
    display: none;
  }
}
@media (min-width: 760px) {
  .c-button {
    background-color: #eeeff0;
    display: inline-block;
    font-size: 1.0833333333vw;
    height: 3.8333333333vw;
    line-height: 3.8333333333vw;
    position: relative;
    text-align: center;
    transition: 0.3s;
  }
  .c-button:nth-of-type(1), .c-button:nth-of-type(3), .c-button:nth-of-type(5) {
    width: 20vw;
  }
  .c-button:nth-of-type(2) {
    width: 19.8333333333vw;
  }
  .c-button:nth-of-type(4) {
    width: 19.9166666667vw;
  }
  .c-button:nth-of-type(1) {
    color: #fff;
    background-color: #4f3f32;
  }
  .c-button:nth-of-type(1)::after {
    background-image: none;
  }
  .c-button:nth-of-type(5)::after {
    background-image: none;
  }
  .c-button::after {
    content: "";
    background-image: linear-gradient(to bottom, #4f3f32 0vw, #4f3f32 0.0833333333vw, transparent 0.0833333333vw, transparent 0.1666666667vw);
    background-color: #eeeff0;
    background-repeat: repeat-y;
    background-size: 0.0833333333vw 0.1666666667vw;
    display: inline-block;
    height: 2.0833333333vw;
    position: absolute;
    right: -0.0833333333vw;
    top: 0.8333333333vw;
    width: 0.0833333333vw;
  }
  .c-button:hover {
    color: #fff;
    background-color: #4f3f32;
  }
  .c-button a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.c-title {
  background-color: rgba(255, 255, 255, 0.8);
  color: #4f3f32;
  position: absolute;
  text-align: center;
  transition: 0.2s;
}
@media (max-width: 759px) {
  .c-title {
    height: 26.1333333333vw;
    right: 2.6666666667vw;
    padding-top: 8vw;
    top: 2.6666666667vw;
    width: 44.8vw;
  }
}
@media (min-width: 760px) {
  .c-title {
    width: 21.8333333333vw;
    height: 7.6666666667vw;
    padding-top: 1.6666666667vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.c-title:hover {
  background-color: rgba(79, 63, 50, 0.8);
  color: #fff;
}
.c-title_subTitle {
  display: inline-block;
}
@media (max-width: 759px) {
  .c-title_subTitle {
    font-size: 4.2666666667vw;
    font-weight: 550;
  }
}
@media (min-width: 760px) {
  .c-title_subTitle {
    display: block;
    font-size: 1.8333333333vw;
  }
}
.c-title_title {
  display: inline-block;
  position: relative;
}
@media (max-width: 759px) {
  .c-title_title {
    font-size: 3.2vw;
  }
}
@media (min-width: 760px) {
  .c-title_title {
    font-size: 1.1666666667vw;
  }
}
.c-title_title:after {
  content: "";
  background-image: url(../images/arrow01.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.6666666667vw;
  position: absolute;
  right: -4vw;
  top: 30%;
  width: 2.6666666667vw;
}

.c-contact {
  color: #4f3f32;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  transition: 0.2s;
}
@media (max-width: 759px) {
  .c-contact {
    border: 0.5333333333vw solid #4f3f32;
    font-size: 4.8vw;
    padding: 4vw 0;
    width: 65.6vw;
  }
}
@media (min-width: 760px) {
  .c-contact {
    border: 0.0833333333vw solid #4f3f32;
    font-size: 1.4166666667vw;
    height: 4.4166666667vw;
    padding-top: 1.4166666667vw;
    width: 20.75vw;
  }
}
.c-contact:hover {
  background-color: rgba(79, 63, 50, 0.8);
  color: #fff;
}

.c-pageTop {
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: all 0.5s;
}
@media (max-width: 759px) {
  .c-pageTop {
    bottom: 3.2vw;
    right: 3.2vw;
  }
}
@media (min-width: 760px) {
  .c-pageTop {
    bottom: 1.6666666667vw;
    right: 1.6666666667vw;
  }
}
@media (max-width: 759px) {
  .c-pageTop_arrow {
    height: 11.2vw;
    width: 11.2vw;
  }
}
@media (min-width: 760px) {
  .c-pageTop_arrow {
    height: 6.3333333333vw;
    width: 6.3333333333vw;
  }
}
.c-pageTop.active {
  opacity: 1;
  visibility: visible;
}

.p-content {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 759px) {
  .p-content {
    height: 31.4666666667vw;
    width: 87.7333333333vw;
  }
}
@media (min-width: 760px) {
  .p-content {
    height: 15.75vw;
    width: 33.25vw;
    margin-right: 0.0833333333vw;
  }
}
.p-content_section1 {
  background-image: url(../images/pic02.jpg);
}
@media (max-width: 759px) {
  .p-content_section1 {
    background-position: center 0%;
  }
}
@media (min-width: 760px) {
  .p-content_section1 {
    background-position: center 10%;
    width: 100%;
  }
}
.p-content_section2 {
  background-image: url(../images/pic03.jpg);
}
@media (max-width: 759px) {
  .p-content_section2 {
    background-position: 30% 70%;
  }
}
@media (min-width: 760px) {
  .p-content_section2 {
    background-position: 30% 0%;
  }
}
.p-content_section3 {
  background-image: url(../images/pic04.jpg);
}
@media (max-width: 759px) {
  .p-content_section3 {
    background-position: center 10%;
    background-size: 102%;
  }
}
@media (min-width: 760px) {
  .p-content_section3 {
    background-position: 60% 50%;
    background-size: 113%;
  }
}
.p-content_section4 {
  background-image: url(../images/pic05.jpg);
}
@media (max-width: 759px) {
  .p-content_section4 {
    background-size: 104%;
    background-position: center 47%;
  }
}
@media (min-width: 760px) {
  .p-content_section4 {
    background-size: 106%;
    background-position: 63% 53%;
  }
}

.p-contact {
  color: #4f3f32;
}
@media (max-width: 759px) {
  .p-contact {
    font-size: 4.5333333333vw;
    line-height: 8vw;
  }
}
@media (min-width: 760px) {
  .p-contact {
    font-size: 1.3333333333vw;
  }
}

@media (max-width: 759px) {
  .p-sitemap_list {
    display: none;
  }
}
@media (min-width: 760px) {
  .p-sitemap_list {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 759px) {
  .u-mb_19_sp {
    margin-bottom: 5.0666666667vw;
  }
}

@media (max-width: 759px) {
  .u-mb_11_sp {
    margin-bottom: 2.9333333333vw;
  }
}
@media (min-width: 760px) {
  .u-mb_11_sp {
    margin-bottom: 0;
  }
}

@media (max-width: 759px) {
  .u-mb_10_sp {
    margin-bottom: 2.6666666667vw;
  }
}
@media (min-width: 760px) {
  .u-mb_10_sp {
    margin-bottom: 0;
  }
}

@media (max-width: 759px) {
  .u-mb_8_sp {
    margin-bottom: 2.1333333333vw;
  }
}
@media (min-width: 760px) {
  .u-mb_8_sp {
    margin-bottom: 0;
  }
}

@media (max-width: 759px) {
  .u-mb_78_pc {
    margin-bottom: 0;
  }
}
@media (min-width: 760px) {
  .u-mb_78_pc {
    margin-bottom: 6.5vw;
  }
}

@media (max-width: 759px) {
  .u-mb_30_pc {
    margin-bottom: 0;
  }
}
@media (min-width: 760px) {
  .u-mb_30_pc {
    margin-bottom: 2.5vw;
  }
}

@media (max-width: 759px) {
  .u-mb_20_pc {
    margin-bottom: 0;
  }
}
@media (min-width: 760px) {
  .u-mb_20_pc {
    margin-bottom: 1.6666666667vw;
  }
}

@media (max-width: 759px) {
  .u-mb_15_pc {
    margin-bottom: 0;
  }
}
@media (min-width: 760px) {
  .u-mb_15_pc {
    margin-bottom: 1.25vw;
  }
}

@media (min-width: 760px) {
  .u-mb_1_pc {
    margin-bottom: 0.0833333333vw;
  }
}

@media (min-width: 760px) {
  .u-mr_34_pc {
    margin-right: 2.8333333333vw;
  }
}

@media (min-width: 760px) {
  .u-mr_22_pc {
    margin-right: 1.8333333333vw;
  }
}

@media (min-width: 760px) {
  .u-mr_21_pc {
    margin-right: 1.75vw;
  }
}

/*# sourceMappingURL=main.css.map */
