.c-button {
  background-color: $buttonBgc;
  width: 20%;
  height: get_vw(46);
  line-height: 4.6rem;
  text-align: center;
  &:hover {
    color: #fff;
    background-color: $navHover;
  }
  @include sp {
    display: none;
  }
}

.c-title {
  background-color: rgba(255, 255, 255, 0.8);
  color: $subTitleColor;
  height: get_vw(98);
  padding-top: get_vw(30);
  position: absolute;
  right: get_vw(10);
  text-align: center;
  top: get_vw(10);
  width: get_vw(168);
  transition: 0.2s;
  &:hover {
    background-color: $titleHover;
    color: #fff;
    // border: get_vw(2) solid #fff;
  }
  &_subTitle {
    // color: $subTitleColor;
    display: inline-block;
    font-size: get_vw(16);
    font-weight: 550;
  }
  &_title {
    // color: $subTitleColor;
    display: inline-block;
    font-size: get_vw(12);
    position: relative;
    &:after {
      content: "";
      background-image: url(../images/arrow01.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: get_vw(10);
      position: absolute;
      right: get_vw(-15);
      top: 30%;
      width: get_vw(10);
    }
  }
}
.c-contact {
  border: get_vw(2) solid $contactFrameColor;
  color: $contactColor;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: get_vw(15) 0;
  text-align: center;
  width: get_vw(246);
  font-size: get_vw(18);
  transition: 0.2s;
  &:hover {
    color: #fff;
    border: get_vw(2) solid #fff;
    background-color: $contactHoverColor;
  }
}
.c-pageTop {
  border-radius: 50%;
  bottom: get_vw(12);
  position: fixed;
  right: get_vw(12);
  &_arrow {
    height: get_vw(42);
    width: get_vw(42);
  }
}
