.c-button {
  @include sp {
    display: none;
  }
  @include pc {
    background-color: $buttonBgc;
    display: inline-block;
    font-size: get_vw(13, 1200);
    height: get_vw(46, 1200);
    line-height: get_vw(46, 1200);
    position: relative;
    text-align: center;
    transition: 0.3s;
    // width: 20%;
    // width: get_vw(240, 1200);
    &:nth-of-type(1) {
      color: #fff;
      background-color: $navHover;
      &::after {
        background-image: none;
      }
    }
    &:nth-of-type(5) {
      &::after {
        background-image: none;
      }
    }
    &:nth-of-type(3),
    &:nth-of-type(5) {
      width: get_vw(240, 1200);
    }
    &:nth-of-type(2) {
      width: get_vw(238, 1200);
    }
    &:nth-of-type(1),
    &:nth-of-type(4) {
      width: get_vw(239, 1200);
    }

    &::after {
      content: "";
      background-image: linear-gradient(
        to bottom,
        $navHover get_vw(0, 1200),
        $navHover get_vw(1, 1200),
        transparent get_vw(1, 1200),
        transparent get_vw(2, 1200)
      );
      background-color: $buttonBgc;
      background-repeat: repeat-y;
      background-size: get_vw(1, 1200) get_vw(2, 1200);
      display: inline-block;
      height: get_vw(25, 1200);
      position: absolute;
      right: get_vw(-1, 1200);
      top: get_vw(10, 1200);
      width: get_vw(1, 1200);
    }
    &:hover {
      color: #fff;
      background-color: $navHover;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.c-title {
  background-color: rgba(255, 255, 255, 0.8);
  color: $subTitleColor;
  position: absolute;
  text-align: center;
  transition: 0.2s;
  @include sp {
    height: get_vw(98);
    padding-top: get_vw(30);
    right: get_vw(10);
    top: get_vw(10);
    width: get_vw(168);
  }
  @include pc {
    width: get_vw(262, 1200);
    height: get_vw(92, 1200);
    padding-top: get_vw(20, 1200);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    background-color: $titleHover;
    color: #fff;
    // border: get_vw(2) solid #fff;
  }
  &_subTitle {
    display: inline-block;
    @include sp {
      font-size: get_vw(16);
      font-weight: 550;
    }
    @include pc {
      display: block;
      font-size: get_vw(22, 1200);
    }
  }
  &_title {
    display: inline-block;
    position: relative;
    @include sp {
      font-size: get_vw(12);
    }
    @include pc {
      font-size: get_vw(14, 1200);
    }

    &:after {
      content: "";
      background-image: url(../images/arrow01.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: get_vw(10);
      position: absolute;
      right: get_vw(-15);
      top: 30%;
      width: get_vw(10);
    }
  }
}
.c-contact {
  color: $contactColor;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  transition: 0.2s;
  @include sp {
    border: get_vw(2) solid $contactFrameColor;
    font-size: get_vw(18);
    padding: get_vw(15) 0;
    width: get_vw(246);
  }
  @include pc {
    border: get_vw(1, 1200) solid $contactFrameColor;
    font-size: get_vw(17, 1200);
    height: get_vw(53, 1200);
    padding-top: get_vw(17, 1200);
    width: get_vw(249, 1200);
  }
  &:hover {
    background-color: $contactHoverColor;
    color: #fff;
  }
}
.c-pageTop {
  border-radius: 50%;
  display: none;
  position: fixed;
  transition: 0.8s;
  @include sp {
    bottom: get_vw(12);
    right: get_vw(12);
  }
  @include pc {
    bottom: get_vw(20, 1200);
    right: get_vw(20, 1200);
  }
  &_arrow {
    @include sp {
      height: get_vw(42);
      width: get_vw(42);
    }
    @include pc {
      height: get_vw(76, 1200);
      width: get_vw(76, 1200);
    }
  }
  &.active {
    display: inline-block;
  }
}
