.c-button {
  background-color: $buttonBgc;
  width: 20%;
  // max-width: ;
  height: 4.6rem;
  line-height: 4.6rem;
  text-align: center;
  &:hover {
    color: #fff;
    background-color: $navHover;
  }
  @include sp {
    display: none;
  }
}

.c-subTitle {
  // background-color: rgba(255, 255, 255, 0.5);
  background-color: skyblue;
  width: 45vw;
  height: 9.8rem;
  text-align: center;

  &_title {
    color: $subTitleColor;
    @include font-size_vw(18);
  }
  &_detail {
    color: $subTitleColor;
    position: relative;
    @include font-size-vw(12);
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      background-image: url(../../../images/arrow02.png);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      right: 0;
      background-size: contain;
    }
  }
}

.c-contact {
  border: 0.2rem solid $contactFrameColor;
  text-align: center;
  color: $contactColor;
  width: 66%;
  margin: 0 auto;
  // font-size:20px;
  @include font-size_vw(18);
  font-weight: bold;
  padding: 20px 0;
}

.c-pagetop {
  position: fixed;
  bottom: 3.2%;
  right: 3.2%;
  &_arrow {
    width: 4.2rem;
    height: 4.2rem;
  }
}
