.u-copyright {
  text-align: center;
  @include sp {
    font-size: get_vw(6);
  }
  @include pc {
    font-size: get_vw(14, 1200);
    left: 50%;
    letter-spacing: get_vw(0.5, 1200);
    position: absolute;
    transform: translateX(-50%) scale(1.1, 1);
    top: get_vw(94, 1200);
  }
}
.u-letter_bold_pc {
  @include pc {
    font-size: get_vw(16, 1200);
    vertical-align: get_vw(-1, 1200);
    transform: scale(0.8, 100);
  }
}
.u-letter_pc {
  @include sp {
    display: none;
  }
  @include pc {
    display: inline;
  }
}

//pc margin-bottom//
.u-mb_134_pc {
  @include pc {
    margin-bottom: get_vw(134, 1200);
  }
}
.u-mb_130_pc {
  @include pc {
    margin-bottom: get_vw(130, 1200);
  }
}
.u-mb_78_pc {
  @include pc {
    margin-bottom: get_vw(78, 1200);
  }
}
.u-mb_30_pc {
  @include pc {
    margin-bottom: get_vw(30, 1200);
  }
}
.u-mb_20_pc {
  @include pc {
    margin-bottom: get_vw(20, 1200);
  }
}
.u-mb_16_pc {
  @include pc {
    margin-bottom: get_vw(16, 1200);
  }
}
.u-mb_15_pc {
  @include pc {
    margin-bottom: get_vw(15, 1200);
  }
}
.u-mb_12_pc {
  @include pc {
    margin-bottom: get_vw(15, 1200);
  }
}
.u-mb_11_pc {
  @include pc {
    margin-bottom: get_vw(11, 1200);
  }
}
.u-mb_10_pc {
  @include pc {
    margin-bottom: get_vw(10, 1200);
  }
}
.u-mb_1_pc {
  @include pc {
    margin-bottom: get_vw(1, 1200);
  }
}

//pc margin-right//
.u-mr_34_pc {
  @include pc {
    margin-right: get_vw(34, 1200);
  }
}
.u-mr_22_pc {
  @include pc {
    margin-right: get_vw(22, 1200);
  }
}
.u-mr_21_pc {
  @include pc {
    margin-right: get_vw(21, 1200);
  }
}

//pc padding-left//
.u-pl_32_pc {
  @include pc {
    padding-left: get_vw(32, 1200);
  }
}
.u-pl_30_pc {
  @include pc {
    padding-left: get_vw(30, 1200);
  }
}
.u-pl_28_pc {
  @include pc {
    padding-left: get_vw(28, 1200);
  }
}
.u-pl_24_pc {
  @include pc {
    padding-left: get_vw(24, 1200);
  }
}
.u-pl_20_pc {
  @include pc {
    padding-left: get_vw(20, 1200);
  }
}
.u-pl_18_pc {
  @include pc {
    padding-left: get_vw(18, 1200);
  }
}
.u-pl_12_pc {
  @include pc {
    padding-left: get_vw(12, 1200);
  }
}


.u-pr_8_pc{
  @include pc {
    padding-right: get_vw(8, 1200);
  }
  
}

//sp margin-bottom//
.u-mb_45_sp {
  @include sp {
    margin-bottom: get_vw(45);
  }
}
.u-mb_40_sp {
  @include sp {
    margin-bottom: get_vw(40);
  }
}
.u-mb_23_sp {
  @include sp {
    margin-bottom: get_vw(23);
  }
}
.u-mb_19_sp {
  @include sp {
    margin-bottom: get_vw(19);
  }
}
.u-mb_11_sp {
  @include sp {
    margin-bottom: get_vw(11);
  }
}
.u-mb_10_sp {
  @include sp {
    margin-bottom: get_vw(10);
  }
}
.u-mb_8_sp {
  @include sp {
    margin-bottom: get_vw(8);
  }
}

//sp padding-left//
.u-pl_12_sp {
  @include sp {
    padding-left: get_vw(12);
  }
}
.u-pl_11_sp {
  @include sp {
    padding-left: get_vw(11);
  }
}

//sp padding-right//
.u-pr_18_sp {
  @include sp {
    padding-right: get_vw(18);
  }
}

.u-pr_16_sp {
  @include sp {
    padding-right: get_vw(16);
  }
}
.u-pr_15_sp {
  @include sp {
    padding-right: get_vw(15);
  }
}
.u-pr_14_sp {
  @include sp {
    padding-right: get_vw(14);
  }
}
.u-pr_13_sp {
  @include sp {
    padding-right: get_vw(13);
  }
}
.u-pr_12_sp {
  @include sp {
    padding-right: get_vw(12);
  }
}
.u-pr_11_sp {
  @include sp {
    padding-right: get_vw(11);
  }
}
