.u-mb_19_sp {
  @include sp {
    margin-bottom: get_vw(19);
  }
}
.u-mb_11_sp {
  @include sp {
    margin-bottom: get_vw(11);
  }
  @include pc {
    margin-bottom: 0;
  }
}
.u-mb_10_sp {
  @include sp {
    margin-bottom: get_vw(10);
  }
  @include pc {
    margin-bottom: 0;
  }
}
.u-mb_8_sp {
  @include sp {
    margin-bottom: get_vw(8);
  }
  @include pc {
    margin-bottom: 0;
  }
}

.u-mb_78_pc {
  @include sp {
    margin-bottom: 0;
  }
  @include pc {
    margin-bottom: get_vw(78, 1200);
  }
}
.u-mb_30_pc {
  @include sp {
    margin-bottom: 0;
  }
  @include pc {
    margin-bottom: get_vw(30, 1200);
  }
}
.u-mb_20_pc {
  @include sp {
    margin-bottom: 0;
  }
  @include pc {
    margin-bottom: get_vw(20, 1200);
  }
}
.u-mb_15_pc {
  @include sp {
    margin-bottom: 0;
  }
  @include pc {
    margin-bottom: get_vw(15, 1200);
  }
}
.u-mb_1_pc {
  // @include sp {
  //   margin-bottom: 0;
  // }
  @include pc {
    margin-bottom: get_vw(1, 1200);
  }
}

.u-mr_34_pc {
  @include pc {
    margin-right: get_vw(34, 1200);
  }
}
.u-mr_22_pc {
  @include pc {
    margin-right: get_vw(22, 1200);
  }
}
.u-mr_21_pc {
  @include pc {
    margin-right: get_vw(21, 1200);
  }
}