.p-content {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include sp {
    height: get_vw(118);
    width: get_vw(329);
  }
  @include pc {
    height: get_vw(189, 1200);
    width: 33.3%;
  }
  &_section1 {
    background-image: url(../images/pic02.jpg);
    @include sp {
      background-position: center 0%;
    }
    @include pc {
      background-position: center 10%;
      width: 100%;
    }
  }
  &_section2 {
    background-image: url(../images/pic03.jpg);
    background-position: 30% 70%;
  }
  &_section3 {
    background-image: url(../images/pic04.jpg);
    background-position: center 10%;
    background-size: 102%;
  }
  &_section4 {
    background-image: url(../images/pic05.jpg);
    background-position: center 47%;
    background-size: 104%;
  }
}
.p-contact {
  color: $darkBrown;
  @include sp {
    font-size: get_vw(17);
    line-height: get_vw(30);
  }
  @include pc {
    font-size: get_vw(16, 1200);
  }
}
