.p-content {
  width: get_vw(329);
  height: get_vw(118);
  background-repeat: no-repeat;
  position: relative;
  &_section1 {
    background-image: url(../images/pic02.jpg);
    background-position: center;
    background-size: cover;
  }
  &_section2 {
    background-image: url(../images/pic03.jpg);
    background-position: center;
    background-size: cover;
  }
  &_section3 {
    background-image: url(../images/pic04.jpg);
    background-position: center 0;
    background-size: cover;
  }
  &_section4 {
    background-image: url(../images/pic05.jpg);
    background-position: center;
    background-size: cover;
  }
}
