.l-footer {
  @include sp {
    height: get_vw(77);
    padding: get_vw(35) 0;
  }
  @include pc {
    height: get_vw(192, 1200);
  }
  background-color: $footerBgc;
  color: #fff;
  position: relative;
  .copyright {
    @include sp {
      font-size: get_vw(6);
    }
    @include pc {
      font-size: get_vw(10,1200);
    }
    text-align: center;
  }
}
