@import "../mixin";

.l-footer {
  @include sp {
    height: get_vw(77);
    padding: get_vw(35) 0;
  }
  @include pc {
    height: 19.2rem;
  }
  background-color: $footerBgc;
  color: #fff;
  position: relative;
  .copyright {
    font-size: get_vw(6);
    text-align: center;
  }
}
