.l-footer {
  background-color: $footerBgc;
  color: #fff;
  position: relative;
  @include sp {
    height: get_vw(77);
    padding: get_vw(35) 0;
  }
  @include pc {
    height: get_vw(190, 1200);
  }
}
