@import "../mixin";

.l-header {
  @include sp {
    height: get_vw(230);
  }
  @include pc {
    height: 64px;
    background-color: blue;
  }
  width: 100%;
  &_logo {
    width: get_vw(152);
    height: auto;
  }
  .l-header_first {
    @include sp {
      background-color: #fff;
      height: get_vw(46);
    }
    @include pc {
      background-color: $headerLeft;
    }
  }
  .l-header_second {
    background-image: url(../images/pic01.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 115%;
    height: get_vw(184);
    position: relative;
    width: 100%;
  }

  &_ham {
    background-color: $darkBrown;
    width: get_vw(48);
    height: get_vw(48);
    @include pc {
      display: none;
    }
    .hamLine {
      display: inline-block;
      background-color: #fff;
      width: get_vw(28);
      height: get_vw(2);
      margin: 0 auto;
    }
  }
  &_title {
    position: absolute;
    width: 100%;
    @include sp {
      left: 50%;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @include pc {
      text-align: left;
    }
    color: #fff;
    font-size: get_vw(20);
    line-height: get_vw(28);
  }
}
