.l-header {
  @include sp {
    height: get_vw(230);
  }
  @include pc {
    height: get_vw(550, 1200);
  }
  width: 100%;

  .l-header_container {
    @include pc {
      display: flex;
    }
  }

  .l-header_first {
    @include sp {
      display: flex;
      background-color: #fff;
      height: get_vw(46);
    }
    @include pc {
      background-color: $headerLeft;
      height: get_vw(512, 1200);
      // width: get_vw(240, 1200);
      width: 20%;
    }
    &_primary {
      @include sp {
        flex-grow: 7.15;
      }
      @include pc {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
    &_h1 {
      text-align: center;
      @include sp {
        margin-top: get_vw(15);
      }
      @include pc {
        position: absolute;
        top: 50%;
        // transform: translateY(-50%);
        width: 100%;
      }
    }
    &_logo {
      @include sp {
        width: get_vw(152);
        height: get_vw(15);
      }
      @include pc {
        height: get_vw(11, 1200);
        width: get_vw(121, 1200);
      }
    }

    &_secondary {
      flex-grow: 1;
      &_ham {
        @include sp {
          background-color: $darkBrown;
          cursor: pointer;
          height: get_vw(46);
          position: relative;
          width: get_vw(46);
        }
        @include pc {
          display: none;
        }
        .hamLine {
          position: absolute;
          display: inline-block;
          background-color: #fff;
          width: get_vw(28);
          height: get_vw(2);
          left: get_vw(9);
          transition: all 0.3s;
        }
        .hamLine1 {
          top: get_vw(15);
        }
        .hamLine2 {
          top: get_vw(22);
        }
        .hamLine3 {
          top: get_vw(29);
        }
        .active.hamLine1 {
          transform: rotate(27deg);
          transform-origin: left;
          width: get_vw(31);
        }
        .hamLine2.active {
          width: 0;
          transform-origin: left;
        }
        .active.hamLine3 {
          transform: rotate(-27deg);
          transform-origin: left;
          width: get_vw(31);
        }
      }
    }
  }
  .l-header_second {
    background-image: url(../images/pic01.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    @include sp {
      background-position: center 0;
      background-size: 115%;
      height: get_vw(184);
    }
    @include pc {
      background-position: 100% 0;
      background-size: 125%;

      // flex-grow: 1;
      width: 80%;
      height: get_vw(511, 1200);
    }
    &_title {
      color: #fff;
      // font-weight: bold;
      position: absolute;
      width: 100%;
      @include sp {
        font-size: get_vw(20);
        left: 50%;
        line-height: get_vw(28);
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      @include pc {
        font-size: get_vw(35, 1200);
        text-align: left;
        line-height: get_vw(48, 1200);
        top: 65.5%;
        left: 7%;
        width: 50%;
      }
    }
  }
  .l-header_nav_pc {
    @include sp {
      display: none;
    }
    @include pc {
      display: block;
    }
    &_ul {
      display: flex;
      justify-content: space-between;
      background-color: $buttonBgc;
    }
  }
}
